body{
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('/multimedia/hauntrip-home.png');
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rbga(0,0,0,0.5);
    font-family: helvetica,arial,sans-serif;
}

.cover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.info, .user-panel{
    display: flex;
    flex-direction: column;

}

.info{
    color: white;
    padding: 2em;
    padding-right: 5em;
    border-right: 1px rgb(110, 110, 110) solid;
    margin: 0 2%;
}

.user-panel{
    padding: 2em;
    color: white;
    border-radius: 5px;
    flex-shrink:0;
    margin: 0 5%;
}

hr.vertical {
    height:100%;
    width:0;
    border:1px solid white;
}

.btn-mysteries{
    background-color: #444444;
    color:#FFF;
    border-color: #2b2b2b;
}
 
.btn-mysteries:hover, .btn-mysteries:focus, .btn-mysteries:active, .btn-mysteries.active, .open .dropdown-toggle.btn-mysteries {
    background-color: #2b2b2b;
    color:#FFF;
    border-color: #202020;
}

.btn-login{
    background-color: #1b1b1b;
    border-color: #020202;
}

.btn-login:hover, .btn-login:focus, .btn-login:active, .btn-login.active, .open .dropdown-toggle.btn-login {
    background-color:#020202;
    color:#FFF;
    border-color: #000000;
}



@media screen and (max-width: 768px) {
    .cover{
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .info{
        color: white;
        padding: 2em;
        border-right: 0;
    }
}