<% layout('./layouts/boilerplate') %>

<div class="container">
    <h1>Help and support</h1>

    <div class="hauntrip-help">
        <h2>About Hauntrip</h2>
        <h3>What is Hauntrip</h3>
        <h3>What are Mysteries</h3>
        <h4>Mystery credibility</h4>
        <h4>Mystery spookiness</h4>
        <h3>What are Evidences</h3>
        <h4>Evidence Helpfulness</h4>
        <h3>User account</h3>
        <h4>Experience points</h4>
    </div>
    <div class="privacy-help">
        <h2>Terms and conditions</h2>
        <h3>Privacy Policy</h3>
        <h3>Conditions</h3>
        <h3>Contact</h3>
    </div>

</div>
